
#availableVMContainer{
    text-align: center;
    position: absolute;
    top: 40%;
    left: 30%;
    display: flex;
    border-radius: 25px;
}

#availableVMContainer button{
  width:180px;
  height:110px;
  border-radius: 45%;
  background-color: whitesmoke;
  border: 1px solid black;
}

#windows button img {
  width:145px;
  height:50px;
}


#linux button img {
    height: 100%;
}

#linuxVM {
  /* width: 180px; */
  /* height: 80px; */
  background-color:  white;
  border-radius: 20px;
  display: inline-block;
  vertical-align: middle;
  text-align: center;
}

#windowsVM {
  /* width: 180px; */
  height: 100px;
  background-color:  white;
  border-radius: 20px;
  display: inline-block;
  vertical-align: middle;
  text-align: center;
}

button #linuxVM img {
  width: 180px;
  height: 80px;
  background-color:  white;
  border-radius: 20px;
  display: inline-block;
  vertical-align: middle;
  text-align: center;
}

button #windowsVM img {
  width: 180px;
  height: 80px;
  background-color:  white;
  border-radius: 20px;
}
