
#availableVMContainer{
    text-align: center;
    position: fixed; /* or absolute */
    top: 40%;
    left: 40%;
    display: flex;
    border-radius: 25px;
}

#availableVMContainer button{
  width:180px;
  border-radius: 40%;
  background-color: white;
}

#windows button img {
  width:150px;
  height:60px;
  margin-left: 15px;
  border-radius: 10px;
}


#linux button img {
    height: 95px;
    border-radius: 10px;
}

#linuxVM {
  /* width: 180px; */
  /* height: 80px; */
  background-color:  white;
  border-radius: 20px;
  display: inline-block;
  vertical-align: middle;
  text-align: center;
}

#windowsVM {
  /* width: 180px; */
  height: 100px;
  background-color:  white;
  border-radius: 20px;
  display: inline-block;
  vertical-align: middle;
  text-align: center;
}

button #linuxVM img {
  width: 180px;
  height: 80px;
  background-color:  white;
  border-radius: 20px;
  display: inline-block;
  vertical-align: middle;
  text-align: center;
}

button #windowsVM img {
  width: 180px;
  height: 80px;
  background-color:  white;
  border-radius: 20px;
}
