
#linuxVM #linux {
  border-radius: 25px;
  background-color: white;
  padding: 20px;
  width:150px; 
  height:80px;
}

#windowsVM #windows {
  width:150px; 
  height:80px;
  padding: 20px;
  border-radius: 25px;
  background-color: white;
}

#availableVMContainer{
    text-align: center;
    position: fixed; /* or absolute */
    top: 30%;
    left: 30%;
    display: flex;
    background-color: white;
    border-radius: 25px;
}

#linux {
  background-color: white;
  border-radius: 25px;
}

#windows {
  flex:1;
  background-color: white;
  border-radius: 25px;
  margin-left: 15px;
}

#windows button img {
  width:200px; 
  height:80px;
  background-color: white;
  margin-left: 15px;
  border-radius: 20px;
}


#linux button img {

    width: 200px;
    height: 80px;
    background-color:  white;
    border-radius: 20px;
}

svg {background-color: white;}