
#LinuxVM img {
  border-radius: 25px;
  background-color: white;
  padding: 20px;
  width: 100px;
  height: 50px; 
}

#windowsVM img {
  border-radius: 25px;
  background-color: white;
  padding: 20px;
  width: 100px;
  height: 100px;  
}

#availableVMContainer{
    text-align: center;
    position: fixed; /* or absolute */
    top: 30%;
    left: 30%;
    display: flex;
}

#linux {
  width: 100px;
}

#windows{
  flex:1;
}